<mat-card>
    <mat-spinner *ngIf="isLoading"> </mat-spinner>
    
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput  name="email" ngModel type="email" placeholder="Enter Email" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid"> Please enter a valid email </mat-error>
        </mat-form-field>
        
        <mat-form-field >
            <input matInput name="password" ngModel type="password" placeholder="Enter password"  #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid"> Incorrect password </mat-error>
        </mat-form-field>
        
        <button mat-raised-button 
                color='primary'
                type="submit">user Login</button>
            
    </form>

    <span class="spacer"></span>
    

</mat-card>




<mat-card>
    
    <form (submit)="adminLogin(adminLoginForm)" #adminLoginForm="ngForm">
        <mat-form-field>
            <input matInput  name="email" ngModel type="email" placeholder="Enter admin Email" #adminEmail="ngModel" required email>
            <mat-error *ngIf="adminEmail.invalid"> Please enter a valid email </mat-error>
        </mat-form-field>
        
        <mat-form-field >
            <input matInput name="password" ngModel type="password" placeholder="Enter admin password"  #adminPassword="ngModel" required>
            <mat-error *ngIf="adminPassword.invalid"> Incorrect password </mat-error>
        </mat-form-field>
        
        <button mat-raised-button 
                color='warn'
                type="submit">Admin Login</button>
            
    </form>


    

</mat-card>



<span *ngIf="deError">

    your account is deactivated, contact admin at ran26@uwo.ca to reactive your account.
</span>