div {
    margin-top: 16px;
    margin-bottom: 64px;
}


form {
    float: left;
    margin-left: 128px;
}

table {
    width: 120%;
    font-size: medium;
}

th {
    font-size: large;
    margin-left: inherit;
    color: burlywood;
}

td {
    font-size: medium;
    color: dar;

}

p {
    float: left;
    margin-right: 26px;
    font-size: medium;
    margin-bottom: 32px;
    
}

.spacer {
    flex: 1 1 auto;
    text-align: center;
  }
  