<h2>Visitor Page</h2>

<div>
  <form (submit)="searchCombo(searchComboForm)" #searchComboForm="ngForm">
    <mat-form-field>
        <input matInput type="text" name="subject" placeholder="Enter subjet" ngModel required #subject="ngModel">
        <mat-error *ngIf="subject.invalid">  subject is required.  </mat-error>
    </mat-form-field>
    <mat-form-field >
        <input matInput type="text" name="code" placeholder="Enter code" ngModel required #code="ngModel">
        <mat-error *ngIf="code.invalid">  code is required.  </mat-error>
    </mat-form-field>
    
    <button mat-raised-button 
            color='accent'
            type="submit">Searh subject+Code </button>

  </form>


  <form (submit)="searchKeyword(searchKeyForm)" #searchKeyForm="ngForm">
    <mat-form-field>
        <input matInput type="text" name="keyword" placeholder="Enter keyword" ngModel required #keyword="ngModel">
        <mat-error *ngIf="keyword.invalid">  subject is at least 5 characters long.  </mat-error>
    </mat-form-field>
    <button mat-raised-button 
            color='accent'
            type="submit">Searh by keyword </button>

  </form>


  <div *ngIf="courses">
    <h2>Search Results</h2>

    <table mat-table [dataSource]="courses" multiTemplateDataRows>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef> subject </th>
    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="section">
    <th mat-header-cell *matHeaderCellDef> section </th>
    <td mat-cell *matCellDef="let element"> {{element.section}} </td>
  </ng-container>

  <ng-container matColumnDef="component">
    <th mat-header-cell *matHeaderCellDef> component </th>
    <td mat-cell *matCellDef="let element"> {{element.component}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="cols.length">
      <span
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <p> course time between {{element.start_time}} -- {{element.end_time}}, 
           course is taking on [ {{element.days}} ],  This course is {{ element.descr }}   </p>
           
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let element; columns: cols;"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
</table>
    
  </div>


  

</div>
