<mat-card>
    <form (submit)="onAddList(listForm)" #listForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="name" placeholder="Enter new list name here" ngModel required #name="ngModel">
            <mat-error *ngIf="name.invalid">  course list name is unique and required.  </mat-error>
        </mat-form-field>
        <mat-form-field >
            <textarea matInput id="" rows="3" 
            name="description" placeholder="optional description" ngModel></textarea>
        </mat-form-field>
        
        <button mat-raised-button 
                color='primary'
                type="submit">Create List</button>
    </form>

</mat-card>



<menu>
    <h2>All My Lists</h2>
    <mat-spinner *ngIf="isLoading"> </mat-spinner>
    <mat-accordion class="listsDisplay" multi="true" *ngIf="myLists.length > 0">
      <mat-expansion-panel *ngFor="let list of myLists">
        <mat-expansion-panel-header>

          <mat-panel-title 
          (click)="mySelectedList(list)"> {{list.name}} </mat-panel-title>
        </mat-expansion-panel-header>
        
        <button mat-raised-button 
        color='warn'
      (click)="deleteList(list.name)">Delete</button>
      
    <label class="toggle-switch">
      <input type="checkbox" [checked]="!list.isPersonal" (change)="switchList(list)"> Public
  </label>
  

        <li *ngIf="list.description">{{list.description}} </li>
        <li>Last Modified time: {{ list .timestamp }}</li>

        <form (submit)="onAddIntoList(addForm, list.name)" #addForm="ngForm">
          <mat-form-field>
              <input matInput type="text" name="subject" placeholder="Enter subjet" ngModel required #subject="ngModel">
              <mat-error *ngIf="subject.invalid">  subject is required.  </mat-error>
          </mat-form-field>
          <mat-form-field >
              <input matInput type="text" name="code" placeholder="Enter code" ngModel required #code="ngModel">
              <mat-error *ngIf="code.invalid">  code is required.  </mat-error>
          </mat-form-field>
          
          <button mat-raised-button 
                  color='accent'
                  type="submit">Add Into The List</button>
      
      </form>
              
      </mat-expansion-panel>

    </mat-accordion>


   <br><br><br><br><br>
      
    <div *ngIf="selectedList">

      <mat-spinner *ngIf="isLoading"> </mat-spinner>
        <h2>Timetable</h2>
     

     
      <table >
        <tr>
          <th>Subject</th>
          <th>Code</th>
          <th>Name</th>
          <th>Section</th>
          <th>Component</th>

          <th> Year </th>
          <th> Review </th>
        
        </tr>
        <mat-spinner *ngIf="isLoading"> </mat-spinner>
        <tr *ngFor="let c of courses; let i = index">
          <td> {{ c.subject }}</td>
          <td>  {{ c.code }}</td>
          <td>{{ c.name }}</td>
          <td> {{ c.component }}</td>
          <td> {{ c.section }}</td>
        
          
        <td>    
          <select  class='Yearselect' 
          (change)="setYear($event, c.subject, c.code, selectedList.name)" [value]= "info[i].year">
            <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
          </select>
      </td>

          <td> 
            <textarea type="text" name="review"  cols="10" rows="5" placeholder= "{{info[i].review}}" #theReview></textarea> 
            <button mat-mini-fab color="primary" (click)="addReview(selectedList.name, c.subject, c.code, theReview.value)"> review</button>
           </td>
          
          <td>

            <button mat-raised-button 
                color='warn'
              (click)="removeFromList(c.subject, c.code, selectedList.name)">Remove</button>
          </td>
       
          
        </tr>

      </table>
      
    </div>


 
</menu>