<mat-card>
    <form (submit)="onAddList(listForm)" #listForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="name" placeholder="Enter new list name here" ngModel required #name="ngModel">
            <mat-error *ngIf="name.invalid">  course list name is unique and required.  </mat-error>
        </mat-form-field>
        <mat-form-field >
            <textarea matInput id="" rows="3" 
            name="description" placeholder="optional description" ngModel></textarea>
        </mat-form-field>
        
        <button mat-raised-button 
                color='primary'
                type="submit">Create List</button>
    </form>

</mat-card>



<menu>
    <h2>All My Lists</h2>
    <mat-accordion multi="true" *ngIf="myLists.length > 0">
      <mat-expansion-panel *ngFor="let list of myLists">
        <mat-expansion-panel-header [class.selected]="list === selectedList"
        (click)="mySelectedList(list)">>
          {{ list.name }} 
        </mat-expansion-panel-header>
        <li>{{list.description}} 12333333333333098765yuiklkfdjghjgfdsx</li>
        <li>Lat Modified time: {{ list .timestamp }}</li>

        <button mat-raised-button color="warn" (click)="deleteList(list.name)">DELETE LIST</button>
      </mat-expansion-panel>
    </mat-accordion>


  <div>
      
    <div *ngIf="courses && courses.length > 0">
      <h2>Search Results</h2>
  
      <table >
        <tr>
          <th>Subject</th>
          <th>Code</th>
          <th>Name</th>
          <th>Section</th>
          <th>Component</th>
        </tr>


        <tr *ngFor="let c of courses">
          <td> {{ c.subject }}</td>
          <td>  {{ c.code }}</td>
          <td>{{ c.name }}</td>
          <td> {{ c.component }}</td>
          <td> {{ c.section }}</td>
          <button mat-raised-button 
          color='warn'
          (click)="removeFromList(c.subject, c.code)">Remove From List</button>
        </tr>

     

      </table>
      
    </div>


  

   </div>

 
</menu>