<mat-card>
    <form (submit)="onAddList(listForm)" #listForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="name" placeholder="Enter new list name here" ngModel required #name="ngModel">
            <mat-error *ngIf="name.invalid">  course list name is unique and required.  </mat-error>
        </mat-form-field>
        <mat-form-field >
            <textarea matInput id="" rows="3" 
            name="description" placeholder="optional description" ngModel></textarea>
        </mat-form-field>
        
        <button mat-raised-button 
                color='primary'
                type="submit">Create List</button>
    </form>

</mat-card>





<div>
    <h2>All My Lists</h2>
    <mat-accordion multi="true" *ngIf="myLists.length > 0">
      <mat-expansion-panel *ngFor="let list of myLists">
        <mat-expansion-panel-header>
          {{ list.name }}
        </mat-expansion-panel-header>

        <p>{{list.description}}</p>
        <p *ngFor="let c of list.classes"> 
          {{ c.subject }} -- {{ c.code }}
        </p>
       
      </mat-expansion-panel>
    </mat-accordion>

</div>
